.btn {

  &_search {
    background-image: url(../../assets/images/main/loupe.png);
    height: 7.25vmin;
    width: 7.25vmin;
    padding: 1vmin;
    border: 2px solid $color-primary-l;
    border-width: 0.5vmin 0.5vmin 0.5vmin 0;
    background-repeat: no-repeat;
    background-color: $color-primary-l;
    background-position: center;
    background-size: 5vmin;
    border-radius: 0 2.5vmin 2.5vmin 0;
    cursor: pointer;

    &:hover {
      background-color: $color-primary-n;
      border-color: $color-primary-n;
    }
  }
}

.buyBtn {
	font-size: 2vmin;
	font-weight: 700;
	padding: 2vmin 3vmin;
	line-height: 0;
	color: white;
	background-color: blue;
	border: none;
	border-radius: 1vmin;
	cursor: pointer;
	transition: all 0.3s;
	margin-top: 1vmin;
}

.buyBtn::before {
	content: "В корзину";
}

.buyBtn:hover, .buyBtn:active {
	color: blue;
	outline: blue 1px solid;
	background-color: white;
}

.buyBtn:active {
	background-color: lightskyblue;
}

.favBtn {
	font-size: 2vmin;
	font-weight: 700;
	padding: 2vmin 3vmin;
	line-height: 0;
	color: white;
	background-color: rgb(254, 98, 124);
	border: none;
	border-radius: 1vmin;
	cursor: pointer;
	transition: all 0.3s;
	margin-top: 1vmin;
}

.favBtn::before {
	content: "В избранное ";
}

.favBtn:hover, .favBtn:active {
	color: rgb(254, 98, 124);
	outline: 1px solid rgb(254, 98, 124);
	background-color: white;
}

.favBtn:active {
	background-color: rgb(255, 183, 195);
}