$desktop-big: 1920 !global;
$desktop: 1280 !global;
$tablet: 768 !global;
$mobile: 320 !global;
$mobile-big: 375 !global;

$color-light-l: #aeeefa;
$color-light-n: #79E5FB;
$color-primary-l: rgb(84, 185, 219);
$color-primary-n: rgb(60, 135, 160);
$color-primary-d: rgb(12, 79, 101);

$color-gray-l: #efefef;