@import "./abstracts/variables.scss";
@import "./abstracts/mixins.scss";

@import "./base/body.scss";
@import "./base/typography.scss";

@import "./blocks/footer.scss";
@import "./blocks/forms.scss";
@import "./blocks/header.scss";
@import "./blocks/navigation.scss";
@import "./blocks/tables.scss";

@import "./elements/images.scss";
@import "./elements/buttons.scss";

@import "./fonts.css";

p::first-letter {
	text-transform: capitalize;
	font-size: 3vmin;
	font-family: Arial, Helvetica, sans-serif;
}

a, a:hover, a:link, a:visited, a:active {
	border: none;
	text-decoration: none;
	font-size: 2.5vmin;
	color: rgb(36, 80, 95);
}

#contactsList {
	font-style: italic;
}

#map {
	width: 100%;
	height: 374px;
}

#logo {
	padding: 0.5vmin;
	background-color: #79E5FB;
	box-shadow: none;
	width: 22vmin;
	height: 10vmin;
	cursor: pointer;
}

#logo:hover {
	border: 0.4vmin solid rgb(19, 104, 132);
}

#mainContent {
	color: rgb(12, 79, 101);
	font-size: 14px;
	font-style: italic;
}

#mainContent a, #mainContent h2 {
	font-style: normal;
	color: rgb(19, 104, 132);
	font-size: 3vmin;
	font-weight: 400;
	background-color: #d1f0ff;
	line-height: 5vmin;
}

#mainContent h2+p {
	color: rgb(12, 78, 100);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

#mainContent li {
	font-style: normal;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(12, 79, 101);
	list-style-image: url(catalogue/images/marker.png);
}

.shopItem {
	flex-wrap: wrap;
	flex-direction: column;
	padding: 3vmin;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-evenly;
	transition: outline 0.15s;
}

.shopItem:hover {
	outline: 1vmin solid rgba(158, 158, 158, 0.25);
}

@media screen and (max-width: 599px) {
	#catalogueList {
		display: grid;
		grid-template-rows: repeat(90vmin);
		grid-template-columns: 90vmin;
		padding: 1vmin;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.itemImage {
		width: 45vmin;
		height: 45vmin;
	}
}

@media screen and (min-width: 600px) {
	#catalogueList {
		display: grid;
		grid-template-rows: repeat(60vmin);
		grid-template-columns: 30vmin 30vmin;
		padding: 1vmin;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}

@media screen and (min-width: 900px) {
	#catalogueList {
		display: grid;
		grid-template-rows: repeat(60vmin);
		grid-template-columns: 38vmin 38vmin 38vmin;
		padding: 1vmin;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}

@media screen and (min-width: 1100px) {
	#catalogueList {
		display: grid;
		grid-template-rows: repeat(60vmin);
		grid-template-columns: 38vmin 38vmin 38vmin 38vmin;
		padding: 1vmin;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}

@media screen and (min-width: 1400px) {
	#catalogueList {
		display: grid;
		grid-template-rows: repeat(60vmin);
		grid-template-columns: 38vmin 38vmin 38vmin 38vmin 38vmin;
		padding: 1vmin;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}


.productPrice {
	font-style: normal;
	font-weight: 700;
	font-size: 3vmin;
	color: black;
}

#basketIcon {
	border-radius: 2vmin;
	background-color: #79E5FB;
	box-shadow: none;
	cursor: pointer;
	width: 10vmin;
	height: 10vmin;
}

#basketIcon:hover {
	box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
	border: 0.4vmin solid rgb(60, 135, 160);
}

.shopItemLink, .shopItemLink:hover,
.shopItemLink:active, .shopItemLink:link,
.shopItemLink:visited {
	font-size: 2vmin;
	color: #2C89CB;
	font-weight: 700;
}

#shopItemPreview {
	display: flex;
	justify-content: center;
	align-items: center;
}

#shopItemDesc {
	display: flex;
	flex-direction: column;
	margin: 5vmin;
	padding: 5vmin auto;
}

#addToBasketContainer {
	margin-left: 10vmin;
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#newProductsList {
	list-style-image: url(catalogue/images/marker.png) ;
}

#newProductsList a {
	color: rgb(118, 118, 0);
	font-style: italic;
}

#entertainmentsList {
	list-style-type: none;
}

#entertainmentsList a {
	color: #3F51B5;
	line-height: 4vmin;
}

#entertainmentsList li::before {
	content: "🎉";
}

.h2-heading {
	padding: 2.5vmin 5vmin;
}

#ideas-list {
	padding: 0 8vmin;
	line-height: 23px;
}

#ideas-list li {
	list-style-type: decimal;
}

.idea-ctn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin: 10vmin auto;
}

.idea-desc {
	padding: 0 6vmin;
	line-height: 23px;
}

.idea-img {
	width: 80vmin;
	height: 50vmin;
	cursor: pointer;
}

@media screen and (max-width: 599px) {
	.shopItemLink, .shopItemLink:hover,
	.shopItemLink:active, .shopItemLink:link,
	.shopItemLink:visited {
		font-size: 6vmin;
	}

	.productPrice {
		font-size: 5vmin;
	}

	.buyBtn {
		font-size: 4vmin;
		padding: 4vmin 6vmin;
		border-radius: 2vmin;
	}

	.favBtn {
		font-size: 4vmin;
		padding: 4vmin 6vmin;
		border-radius: 2vmin;
	}

	p::first-letter {
		font-size: 6vmin;
	}

	input[type=submit] {
		font-size: 4vmin;
		padding: 3.5vmin;
		border-radius: 3vmin;
	}

	.navLink, .navLink:hover, .navLink:link,
	.navLink:visited, .navLink:active {
		font-size: 4vmin;
	}
}