@import "./fonts.css";

@import "./abstracts/variables.scss";
@import "./abstracts/mixins.scss";

@import "./base/body.scss";
@import "./base/typography.scss";

@import "./blocks/footer.scss";
@import "./blocks/forms.scss";
@import "./blocks/header.scss";
@import "./blocks/navigation.scss";
@import "./blocks/tables.scss";

@import "./elements/images.scss";
@import "./elements/buttons.scss";

.contactsList {
	font-style: italic;
}

.map {
	width: 100%;
	height: 374px;
}

.mainContent {
	color: $color-primary-d;
	font-size: 14px;
	font-style: italic;
}

.mainContent a, .mainContent h2 {
	font-style: normal;
	color: rgb(19, 104, 132);
	font-size: 3vmin;
	font-weight: 400;
	background-color: #d1f0ff;
	line-height: 5vmin;
}

.mainContent h2+p {
	color: rgb(12, 78, 100);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.mainContent li {
	font-style: normal;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: $color-primary-d;
	list-style-image: url(../../assets/images/main/marker.png);
}

.catalogue-card {
	flex-wrap: wrap;
	flex-direction: column;
	padding: 2vmin;
  margin: 1vmin;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-evenly;
	transition: outline 0.15s;

  &:hover {
    outline: 1vmin solid rgba(158, 158, 158, 0.25);
  }

  &__img {
    width: 20vmin;
    height: 20vmin;

    @media screen and (max-width: 599px) {
      width: 60vmin;
      height: 60vmin;
    }
  }
}

@media screen and (max-width: 599px) {
	.catalogue-grid {
		display: grid;
		grid-template-rows: repeat(90vmin);
		grid-template-columns: 90vmin;
	}
}

@media screen and (min-width: 600px) {
	.catalogue-grid {
		display: grid;
		grid-template-columns: 30vmin 30vmin;
	}
}

@media screen and (min-width: 900px) {
	.catalogue-grid {
		display: grid;
		grid-template-columns: 38vmin 38vmin 38vmin;
	}
}

@media screen and (min-width: 1100px) {
	.catalogue-grid {
		display: grid;
		grid-template-columns: 38vmin 38vmin 38vmin 38vmin;
	}
}

@media screen and (min-width: 1400px) {
	.catalogue-grid {
		display: grid;
		grid-template-rows: repeat(60vmin);
		grid-template-columns: 38vmin 38vmin 38vmin 38vmin 38vmin;
	}
}


.productPrice {
	font-style: normal;
	font-weight: 700;
	font-size: 3vmin;
	color: black;
}

.shopItemLink, .shopItemLink:hover,
.shopItemLink:active, .shopItemLink:link,
.shopItemLink:visited {
	font-size: 2vmin;
	color: #2C89CB;
	font-weight: 700;
}

.shopItemPreview {
	display: flex;
	justify-content: center;
	align-items: center;
}

.shopItemDesc {
	display: flex;
	flex-direction: column;
	margin: 5vmin;
	padding: 5vmin auto;
}

.addToBasketContainer {
	margin-left: 10vmin;
	display: flex;
	flex-direction: column;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

  &__new-products-list {
    list-style-image: url(../../assets/images/main/marker.png);;
  }

  & .link {
    font-weight: 500;

    &_yellow {
      font-style: italic;
      font-size: 2.5vmin;
      color: rgb(147, 111, 22);
    }

    &_purple {
      font-size: 2.5vmin;
      color: #3F51B5;
      line-height: 4vmin;
    }
  }

  &__entertainment-list {
    list-style-type: none;
  }
  
  &-entertainment-list__item::before {
    content: "🎉";
  }

  &::after {
    content: "";
    background: url(../images/main/igra.jpg);
    opacity: 0.25;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: absolute;
  }
}

.heading {
  border: 0.5vmin solid $color-primary-n;
  background: $color-gray-l;
}

.subheading {
	padding: 2.5vmin 5vmin;
}

.ideas-list {
	padding: 0 8vmin;
	line-height: 23px;

  &__item {
    list-style-type: decimal;
  }
}

.idea-ctn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin: 10vmin auto;

  &__desc {
    padding: 0 6vmin;
    line-height: 23px;
  }

  &__img {
    width: 80vmin;
    height: 50vmin;
    cursor: pointer;
  }
}

@media screen and (max-width: 599px) {
	.shopItemLink, .shopItemLink:hover,
	.shopItemLink:active, .shopItemLink:link,
	.shopItemLink:visited {
		font-size: 6vmin;
	}

	.productPrice {
		font-size: 5vmin;
	}

	.buyBtn {
		font-size: 4vmin;
		padding: 4vmin 6vmin;
		border-radius: 2vmin;
	}

	.favBtn {
		font-size: 4vmin;
		padding: 4vmin 6vmin;
		border-radius: 2vmin;
	}

	p::first-letter {
		font-size: 6vmin;
	}

	input[type=submit] {
		font-size: 4vmin;
		padding: 3.5vmin;
		border-radius: 3vmin;
	}

	.navLink, .navLink:hover, .navLink:link,
	.navLink:visited, .navLink:active {
		font-size: 4vmin;
	}
}