.footer {
	background: linear-gradient($color-primary-l, $color-primary-n);
	padding: 2vmin;
  user-select: none;
  @include flex(center, space-between);

  &-list {
    list-style-type: none;
  }

  &__link {
    font-size: 0.5vmin;
  }

  &__rights {
    color: $color-primary-d;
  }
}