.header {
	height: 12vmin;
	position: fixed;
	padding: 0 2vmin;
	background-color: transparent;
	background-image: url('catalogue/images/BackgroundHeader.jpg');
	background-size: auto 12vmin;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: calc(100% - 4vmin);
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 100;
}