.search-bar {
  @include flex();
}

.menu {
	padding: 0;
	display: flex;
	justify-content: inherit;
  list-style-type: none;

  &__link {
    &:hover,
    &:link,
    &:visited,
    &:active {
      background-color: $color-light-n;
      border: rgb(36, 80, 95) 2px solid;
      border-radius: 3vmin;
      padding: 1vmin;
      margin: 1vmin;
      line-height: 10vmin;
      transition: all 0.15s;
      box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

    &:hover {
      color: orange;
      border-color: orange;
      box-shadow: 0 0 0 0.4rem rgba(158, 158, 158, 0.25)
    }
  }
}

.basket {
  @include flex(center, space-between, column);
  color: $color-primary-n;
  transition: 0.15s;

  &:hover {
    color: $color-primary-l;
  }
}