table {
	margin-bottom: 2vmin;
	border-collapse: collapse;
}

th {
	padding: 1.5vmin;
	border: 1px solid black;
	border-radius: 1vmin;
}

td {
	padding: 0.5vmin;
	border: 1px solid black;
	text-align: center;
	border-radius: 1vmin;
}